/* Увеличиваем ширину блока последних действий и делаем layout более удобным */
#recent-actions-module {
    width: 100% !important;
    max-width: 100vw !important;
    min-width: 600px;
}
.dashboard #content-main {
    width: 100% !important;
    max-width: 100vw !important;
}
.dashboard #content {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.dashboard #content-main, .dashboard #recent-actions-module {
    flex: 1 1 0;
} 